{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
<section class="hero is-fullheight" style="background-image:url({{ asset('build/images/login_background.jpg') }});">
  <div class="hero-body">
    <div class="login container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

          <form action="#" class="box" method="post">
            <div class="field">
              <label for="" class="label">Benutzername</label>
              <div class="control has-icons-left">
                <input type="text" name="username" placeholder="" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Passwort</label>
              <div class="control has-icons-left">
                <input type="password" name="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox" name="_remember_me">
               Eingeloggt bleiben
              </label>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>

            <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}" />

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

