{% extends 'base.html.twig' %}

{% block title %}
	{{ ruestzeit.title }}
	| Anmeldung
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block body %}

	<div class="container">
		<h1 class="title">{{ ruestzeit.title }}</h1>

		<section class="mb-5 entry_description_outer">
			<div class="entry_child_container">
				{% if (ruestzeit.showDates) or (ruestzeit.showLocation)  or (ruestzeit.imageUrl != "") %}
					<div class="entry_cards entry_location_details">
						{% if ruestzeit.showDates %}
							<div class="card">
								<header class="card-header">
									<p class="card-header-title">
										Zusammenfassung
									</p>
								</header>
								<div class="card-content">

									Ab
									{{ ruestzeit.dateFrom | format_date('medium') }}<br/>
									Bis
									{{ ruestzeit.dateTo | format_date('medium') }}
								</div>
							</div>
						{% endif %}
						{% if ruestzeit.showLocation %}
							<div class="card">
								<header class="card-header">
									<p class="card-header-title">
										{{ ruestzeit.location.title}}
									</p>
									<button class="card-header-icon" aria-label="more options">
										<span class="icon">
											<i class="fas fa-angle-down" aria-hidden="true"></i>
										</span>
									</button>
								</header>
								<div class="card-content">
									{{ ruestzeit.location.street}}<br/>
									{{ ruestzeit.location.postalcode}}
									{{ ruestzeit.location.city}}<br/>
									<br/>
									<a class="button is-primary" target="_blank" href="https://www.google.com/maps/search/{{ ruestzeit.location.title ~ " " ~ ruestzeit.location.street ~ " " ~ ruestzeit.location.postalcode ~ " " ~ ruestzeit.location.city }}">Karte anzeigen</a>
								</div>
							</div>
						{% endif %}
						{% if ruestzeit.imageUrl != "" %}
							<a href="{{ ruestzeit.flyerUrl }}" target="_blank">
								<img src="{{ ruestzeit.imageUrl }}" alt="Flyer zur {{ ruestzeit.title }}" />
							</a>
						{% endif %}
					</div>
				{% endif %}

			</div>

			<div class="entry_description">
				{{ ruestzeit.description | raw }}
			</div>
		</section>

		<div class="notification is-primary">
			Insgesamt
			{{ ruestzeit.memberlimit }}
			Plätze verfügbar<br/>
			{% if ruestzeit.registrationstart|date('U') > 'now'|date('U') %}
				Anmeldungen möglich ab
				{{ ruestzeit.registrationstart | format_datetime(locale='de', timeFormat='short', timezone='Europe/Berlin') }} Uhr
			{% endif %}
		</div>


		<form class="box" method="POST" action="#" enctype="multipart/form-data">
			<h2 class="title">Anmeldung</h2>

			{% if ruestzeit.isFull() == true %}
				<div class="notification is-info">
					Die möglichen Anmeldungen sind bereits voll. Deine Anmeldung wird auf einer Warteliste berücksichtigt.<br/>
					Wir informieren dich rechtzeitig, ob du teilnehmen kannst.
				</div>
			{% endif %}

			<div class="alert alert-danger text-center" role="alert">

				{% set formErrors = form.vars.errors.form.getErrors(true) %}

				{% if formErrors|length %}
					<div class="notification  is-danger" role="alert">
						Es wurden Fehler im Formular festgestellt. Bitte prüfen Sie Ihre Eingaben.
					</div>
				{% endif %}
			</div>

			{% if ruestzeit.registrationstart|date('U') <= 'now'|date('U') %}
				<input type="hidden" name="ruestzeitid" value="{{ ruestzeit.id }}">
				<input type="hidden" name="timing" value="{{ 'now'|date('U') }}">

				{{ form_errors(form.ruestzeit) }}

				<div class="field" style='display:none;'>
					<label class="label">Anmelden für folgende Rüstzeit<sup>*</sup>
					</label>
					<div class="control">
						{{ form_widget(form.ruestzeit) }}
					</div>
					<p class="help">Pflichtfeld</p>
				</div>

				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">Vorname des Teilnehmers<sup>*</sup>
							</label>
							<div class="control">
								<input class="input" type="text" name="{{ field_name(form.firstname) }}" value="{{ field_value(form.firstname) }}" tabindex="1" placeholder="Vorname" required>
							</div>
							<p class="help">Pflichtfeld</p>
							{{ form_errors(form.firstname) }}
						</div>
					</div>

					<div class="column">
						<div class="field">
							<label class="label">Nachname des Teilnehmers<sup>*</sup>
							</label>
							<div class="control">
								<input class="input" type="text" name="{{ field_name(form.lastname) }}" value="{{ field_value(form.lastname) }}" tabindex="2" placeholder="Nachname" required>
							</div>
							<p class="help">Pflichtfeld</p>
							{{ form_errors(form.lastname) }}

						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">

						<div class="field">
							<label class="label">Geburtstag des Teilnehmers<sup>*</sup>
							</label>
							<div class="control has-icons-left">
								<input class="input birthday_field" name="{{ field_name(form.birthdate) }}" value="{{ field_value(form.birthdate) }}" type="text" placeholder="TT.MM.JJJJ" tabindex="6" required>
								<span class="icon is-small is-left">
									<i class="fas fa-calendar"></i>
								</span>
							</div>
							<p class="help">Pflichtfeld</p>
							{{ form_errors(form.birthdate) }}
						</div>
						<div class="field">
							<label class="label">Telefon<sup>*</sup>
							</label>
							<div class="control has-icons-left">
								<input class="input" type="text" name="{{ field_name(form.phone) }}" value="{{ field_value(form.phone) }}" placeholder="0123/123456789" tabindex="7" required>
								<span class="icon is-small is-left">
									<i class="fas fa-phone"></i>
								</span>
							</div>
							<p class="help">Pflichtfeld</p>
							{{ form_errors(form.phone) }}
						</div>
						<div class="field emailfield">
							<label class="label">E-Mail<sup>*</sup>
							</label>
							<div class="control has-icons-left">
								<input class="input" type="email" name="anmeldung[email]" tabindex="20">
								<span class="icon is-small is-left">
									<i class="fas fa-envelope"></i>
								</span>
							</div>
							<p class="help">Pflichtfeld</p>
						</div>
						<div class="field">
							<label class="label">Anmerkungen</label>
							<div class="control">
								<textarea class="textarea" type="text" name="{{ field_name(form.notes) }}" rows="4" tabindex="8">{{ field_value(form.notes) }}</textarea>
							</div>
							<p class="help">Besonderheiten / Allergien</p>
							{{ form_errors(form.notes) }}
						</div>

						<div class="field">
							<label class="label">Verpflegung<sup>*</sup>
							</label>
							<div class="control">
								<label class="radio">
									<input type="radio" name="{{ field_name(form.mealtype) }}" value="ALL" required tabindex="9">
									Alles
								</label>
								<label class="radio">
									<input type="radio" name="{{ field_name(form.mealtype) }}" value="VEGETARIAN" required tabindex="9">
									Vegetarisch
								</label>
								<label class="radio">
									<input type="radio" name="{{ field_name(form.mealtype) }}" value="VEGAN" required tabindex="9">
									Vegan
								</label>
							</div>
							<p class="help">Pflichtfeld</p>
							{{ form_errors(form.mealtype) }}
						</div>


					</div>
					<div class="column">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
									Adresse
								</p>
							</header>
							<div class="card-content">
								<div class="field">
									<label class="label">Strasse<sup>*</sup>
									</label>
									<div class="control">
										<input class="input" tabindex="3" name="{{ field_name(form.address) }}" value="{{ field_value(form.address) }}" type="text" placeholder="" required>
									</div>
									<p class="help">Pflichtfeld</p>
									{{ form_errors(form.address) }}
								</div>

								<div class="columns">
									<div class="column">
										<div class="field">
											<label class="label">Postleitzahl<sup>*</sup>
											</label>
											<div class="control">
												<input class="input" tabindex="5" name="{{ field_name(form.postalcode) }}" value="{{ field_value(form.postalcode) }}" type="text" placeholder="" required>
											</div>
											<p class="help">Pflichtfeld</p>
											{{ form_errors(form.postalcode) }}
										</div>

									</div>
									<div class="column">
										<div class="field">
											<label class="label">Ort<sup>*</sup>
											</label>
											<div class="control">
												<input class="input" tabindex="5" name="{{ field_name(form.city) }}" value="{{ field_value(form.city) }}" type="text" placeholder="" required>
											</div>
											<p class="help">Pflichtfeld</p>
											{{ form_errors(form.city) }}
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mb-5">
					<label class="checkbox">
						<input type="checkbox" name="{{ field_name(form.agb_agree) }}" value="1" required tabindex="10">
						Ich akzeptiere, dass die Anmeldung verbindlich ist.<sup>*</sup>
					</label>
					{{ form_errors(form.agb_agree) }}

					<label class="checkbox">
						<input type="checkbox" name="{{ field_name(form.dsgvo_agree) }}" value="1" required tabindex="10">
						Ich akzeptiere, dass die Daten des Teilnehmers für die Zeit der Rüstzeit gespeichert werden.<sup>*</sup>
					</label>
					{{ form_errors(form.dsgvo_agree) }}

				</div>

				{{ form_rest(form) }}

				<button class="button is-success">Anmeldung absenden</button>
			{% else %}
				<div class="notification">
					Aktuell ist die Anmeldung noch nicht möglich.
				</div>
			{% endif %}
		</form>
	</div>
{% endblock %}
