{# templates/bundles/EasyAdminBundle/layout.html.twig #}

{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}
{% set current_ruestzeit = current_ruestzeit_service.get %}
{% set admin_color = current_ruestzeit.getAdminColor %}

	{% block sidebar %}
		{{ parent() }}
		<div class="copyright">
		Reservation Tool 2.0<br>
		<span class="author">Developed by<br/><a href="https://datentechnik-warnat.de/" target="_blank">Datentechnik Warnat</a></span>
		</div>
	{% endblock %}

	{% block header_navbar %}
		<div class="sidebar_ruestzeit_container"> <div class="sidebar_ruestzeit_top">
			<span>Aktuelle Rüstzeit</span>
			{# <a href="/admin" class="btn btn-sm btn-primary">Wechseln</a> #}
		</div>
		<div class="sidebar_ruestzeit_current">{{ current_ruestzeit }}</div>
	</div>
	{% if admin_color != "" %}
	<style>
		.sidebar {
			border-right:2px solid {{ admin_color }};
			background-color: {{ admin_color }}10;
		}
		.sidebar_ruestzeit_container {
			background-color: {{ admin_color }};
		}
	</style>
	{% endif %}	
{% endblock %}
