<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }
        .content p {
            margin:0;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            color: #777;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <table border="0" style="width:100%;min-height:110px;">
            <tr>
                <td style="vertical-align:middle;width:130px;text-align:left; "><img src="{{ trackingUrl }}" alt="Logo" width="100" height="auto"></td>
                <td style="vertical-align:middle;text-align:left;"><h1 style="font-size:22px; font-size: clamp(1rem, 0.7813rem + 1.1667vw, 1.4375rem);">{{ headline|raw }}</h1></td>
            </tr>
            </table>
        </div>
        <div class="content">
            {{ content|raw }}
        </div>
        <div class="footer">
            <p>Du empfängst diese E-Mail aufgrund deiner Anmeldung für <a href="{{ ruestzeit.url }}" target0"_blank">{{ ruestzeit.title }}</a>.<br/>Diese E-Mail wurde versendet von: {{ imprint|raw }}</p>
        </div>
    </div>
</body>
</html>