<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-language" content="de-de">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light only">
		{% if canonical|default -%}
		<link rel="canonical" href="{{ canonical }}" />
		{% endif %}

		<title>
			{%- block title -%}Welcome!{%- endblock -%}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		{# <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}"> #}

		{% block importmap %}
			{{ importmap('frontend-app') }}
		{% endblock %}

		{% block stylesheets %}{% endblock %}

		{#% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('Bulma') }}
		{% endblock %} #}
	</head>
	<body class="planfreizeit_layout">
		{% block body %}
			<div class="container"></div>
		{% endblock %}

		
		{% block footer %}
		<div class="footer">
			<div class="content has-text-centered">
				<a href="/impressum">Impressum</a>
				{% if privacyagreement_url is not empty %} -
				<a href="{{ privacyagreement_url }}" target="_blank">Datenschutz</a>
				{% endif %}
			</div>
		</div>
		{% endblock %}
	</body>
</html>
